
:root {
    font-family: 'Inter', sans-serif;
}

body {
    /* Disables selection*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Selection whitelist */
input, 
textarea, 
.editor-code-area {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

/* Gradient Text */
.gradient-text {
    background-image: linear-gradient(to right, #06B6D4, #3B82F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #06B6D4;
}

/* Logo & Credits */
#title {
    font-family: 'Michroma', sans-serif;
    height: 3rem;
    position: relative;
    transition: width 300ms ease-in-out, filter 300ms ease-in-out, padding 300ms ease-in-out;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: min-content;
}

#title:hover {
    filter: brightness(1.2);
    width: 10.5rem;
}

#title:hover #logo-icon {
    opacity: 0;
    transform: translateX(-100%);
}

#title:hover #logo-detail {
    opacity: 1;
    transform: scale(1) translateX(-50%);
}

#logo-icon {
    position: relative;
    transition: opacity 300ms ease-in-out;
}

#logo-detail {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8) translateX(-50%);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Dropdown */
.dropdown-menu {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: scaleY(0.95);
    transition: max-height 300ms ease-in-out, opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.visible {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transition: max-height 500ms ease-in-out, opacity 150ms 150ms ease-in, transform 150ms 150ms ease-in;
}

/* Bottom Screen Warning */
#messageBox {
    background-color: #f59e0b;
    transition: opacity 300ms ease-in-out;
    z-index: 50;
}

/* Actor Tabs */
#actor-tabs button {
    transition: background-color 250ms ease-in-out, color 150ms;
}

